//<МИКСИНЫ>===========================================================================================================================================================================================================
@import "another/additionally/mixins.scss";
//</МИКСИНЫ>==========================================================================================================================================================================================================

//<ШРИФТЫ>============================================================================================================================================================================================================
//<ПОДКЛЮЧАЕМ ШРИФТЫ>=================================================================================================================================================================================================

//</ПОДКЛЮЧАЕМ ШРИФТЫ>================================================================================================================================================================================================
// font-display: swap;
//<ИКОНОЧНЫЕ ШРИФТЫ>==================================================================================================================================================================================================
// @import "another/libs/fontawesome.scss";
//</ИКОНОЧНЫЕ ШРИФТЫ>=================================================================================================================================================================================================
//<ШРИФТ ПО УМОЛЧАНИЮ>================================================================================================================================================================================================
$fontfamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
//</ШРИФТ ПО УМОЛЧАНИЮ>===============================================================================================================================================================================================
//</ШРИФТЫ>===========================================================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================================================================================================
$maxWidth: 1440;
$minwidth: 320;
$container: 1170;
$md1: $container + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// EAF2EF
$color: #FFF;
$theme1:#000001;
$theme2: #FFD001;
$theme3: #FFE143;
$theme4: #FFD143;
//</ПЕРЕМЕННЫЕ>=======================================================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================================================================================
@import "another/additionally/null.scss";
body {
   background-color: $theme1;
   // &._lock {
   //    overflow: hidden;
   // }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=======================================================================================================================================================================================

//<ОБОЛОЧКА>==========================================================================================================================================================================================================
// .wrapper {
//    width: 100%;
//    min-height: 100vh;
//    overflow: hidden;
//    // @include flexbox();
//    // flex-direction: column;
//    &._loaded {
//    }
// }
//====================================================================================================================================================================================================================
// .content {
//    flex: 1 1 auto;
//    @include dynamic-option-top(padding, 80, 50, $md3);
// }
//</ОБОЛОЧКА>=========================================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>====================================================================================================================================================================================================
._container {
   max-width: $container + px;
   margin: 0 auto;
   width: 100%;
   @media (min-width: $maxWidth + 1px) {
      max-width: ($container / $maxWidth) * 100%;
   }
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===================================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==============================================================================================================================================================
// @import "another/additionally/forms.scss";
// @import "another/additionally/ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================================================================================================================
// @import "another/libs/baguetteBox.min.scss";
// @import "another/libs/swiper.min.scss";
// @import "another/additionally/pagging.scss";
// @import "another/additionally/popup.scss";
// @import "header.scss";
// @import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================================================================================
.info {
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
   user-select: none;
   &__body {
      @include dynamic-option(padding, 50, 4);
      @include flexbox();
      flex-direction: column;
      text-align: center;
      min-height: 100vh;
      justify-content:center;
      align-items: center;
   }
   &__title {
      @include flexbox();
      align-items: center;
      @include best-font(170, 130);
      @include dynamic-option-bottom(margin, 30, 15);
      font-weight: 700;
   }
   &__error {
      &_1 {
         color: $theme2;
         @include dynamic-option-right(margin, 2.5, 1);
      }
      &_2{
         fill: $theme2;
         @include dynamic-option-right(margin, 2.5, 1);
         animation: querstion-circle 2.5s cubic-bezier(0.87, 0, 0.13, 1) infinite alternate 0s forwards;
         @keyframes querstion-circle {
            0%{
               @include transform(rotate(0deg));
            }
            50%{
               @include transform(rotate(0deg));
            }
            100%{
               @include transform(rotate(360deg));             
            }
         }
         
      }
      &_3 {
         color: $theme2;
      }
   }
   &__sub-title {
      color: $theme3;
      @include best-font(23, 17, 30);
      @include dynamic-option-bottom(margin, 30, 15);
      @include dynamic-max-width(500);
      @media (min-width:$maxWidth+1px){
         @include best-font(23, 14, 30);
      }
   }
   &__subject {
      color: $theme3;
      @include dynamic-max-width(500);
      @include best-font(23, 17, 30);
      @include dynamic-option-bottom(margin, 35, 20);
      @media (min-width:$maxWidth+1px){
         @include best-font(23, 14, 30);
      }
   }
   &__links {
      text-transform: uppercase;
      color: $theme4;
      @include dynamic-max-width(500);
      @include flexbox();
      justify-content:center;
      flex-wrap: wrap;
      align-items: center;
      li{
         @include dynamic-option-right(margin, 10, 5);
         &:last-child{margin:0px 0px 0px 0px;}
      }
   }
   &__link {
      @include best-font(18, 16, 20);
      text-decoration: underline;
      @media (min-width:$maxWidth+1px){
         @include best-font(18, 10, 20);
      }
   }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================================================================================================================
