//<Mixins>===========================================================================================================================================================================================================
@import "another/additionally/mixins.scss";
//</Mixins>==========================================================================================================================================================================================================

//<Fonts>============================================================================================================================================================================================================
//<Connect fonts>====================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
//</Connect fonts>===================================================================================================================================================================================================
// font-display: swap;
//<Icons font>=======================================================================================================================================================================================================
// @import "another/libs/fontawesome.scss";
//</Icons font>======================================================================================================================================================================================================
//<Font by default>==================================================================================================================================================================================================
$fontfamily: "Montserrat", sans-serif;
//</Font by default>=================================================================================================================================================================================================
//</Fonts>===========================================================================================================================================================================================================

//<Variables>========================================================================================================================================================================================================
$maxWidth: 1440;
$minwidth: 320;
$container: 1170;
$md1: $container + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$palette-1: #212121;
$palette-2: #6d9886;
$palette-3: #d9cab3;
$palette-4: #f6f6f6;
$color: $palette-4;
$backgroundColor: $palette-1;
//</Variables>=======================================================================================================================================================================================================

//<Reset, general parameters>========================================================================================================================================================================================
@import "another/additionally/null.scss";
body {
   background-color: $backgroundColor;
   &._lock {
      overflow: hidden;
   }
}
@at-root {
   ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
   }
   ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);
   }
   ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.2);
   }
   ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.4);
   }
   ::-webkit-scrollbar-thumb:active {
      background: rgba(255, 255, 255, 0.9);
   }
}
//</Reset, general parameters>=======================================================================================================================================================================================

//<Wrapper>==========================================================================================================================================================================================================
.wrapper {
   width: 100%;
   overflow: hidden;
   @include flexbox();
   flex-direction: column;
   &._loaded {
   }
}
//===================================================================================================================================================================================================================
.content {
   flex: 1 1 auto;
   @include flexbox();
   flex-direction: column;
   justify-content: center;
}
//</Wrapper>=========================================================================================================================================================================================================

//<Main grid>========================================================================================================================================================================================================
._container {
   max-width: $container + px;
   margin: 0 auto;
   width: 100%;
   @media (min-width: $maxWidth + 1px) {
      max-width: ($container / $maxWidth) * 100%;
   }
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</Main grid>=======================================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ UI files styles, shapes and ready-made classes>=======================================================================================================================================================
// @import "another/additionally/forms.scss";
@import "another/additionally/ui.scss";
//</Connecting UI files styles, shapes and ready-made classes>=======================================================================================================================================================

//<Connecting page styles and elements>==============================================================================================================================================================================
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery.min.css"/>
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lg-thumbnail.min.css"/>
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lg-zoom.min.css"/>
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lg-fullscreen.min.css"/>
// <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css"/>
// @import "another/libs/nouislider.scss";
@import "another/additionally/fullcalendar.scss";
// @import "another/additionally/popup.scss";
// @import "header.scss";
@import "footer.scss";
//</Connecting page styles and elements>=============================================================================================================================================================================

//<Main block>=======================================================================================================================================================================================================
.first {
   &__body {
      @include dynamic-option-top(padding, 40, 20);
      @include flexbox();
      flex-direction: column;
      align-items: center;
      @include dynamic-option-bottom(padding, 20, 5);
   }
   &__top {
      @include flexbox();
      align-items: flex-end;
      justify-content: center;
      @include dynamic-option-bottom(margin, 10, 5);
   }
   &__icon {
      @include dynamic-option-right(margin, 5, 2.5);
      flex: 0 1 20%;
      @include dynamic-option(flex, 170, 120, $addParamsBefore: 0 0);
      img {
         max-width: 100%;
      }
   }
   &__number {
      @include best-font(150, 100);
      position: relative;
      line-height: 0.71;
   }
   &__title {
      @include best-font(30, 25, 40, 2);
   }
}
//====================================================================================================================================================================================================================
.calendar {
   &__body {
      @include dynamic-option-bottom(padding, 40, 20);
      @include best-font(14, 12);
      @include dynamic-max-width(500);
   }
   &__object {
   }
}
//</Main block>======================================================================================================================================================================================================
